.header {
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
    position: sticky;
    top: 0;
    background-color: #E7F0F1;;
    z-index: 10;
}

.header__icon {
    width: 200px;
}
.header__item {
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    cursor: pointer;
    color: #0A3A44;
}
.header__options {
    display: flex;
    align-items: center;
}
.dropbtn {
    color: rgb(89, 152, 164);
    padding: 8px;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #0A3A44;
}
  
.dropdown {
    position: relative;
    display: none;
}
  
.dropdown-content {
    top: -3vh;
    /* display: none; */
    position: absolute;
    min-width: 75vw;
    z-index: 1;
    right: -8vw;
    border-radius: 25px 0px 0px 25px;
    background-color: #E7F0F1;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    height: 99vh;
}

.dropdown__container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 12%;
  text-align: center;
}

.dropdown__lang {
  width: 45vw;
  padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #a0c4cb;

}

.dropdown__options {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  margin-top: 15vh;
}

.dropdown__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown__options > a {
  color: #0A3A44;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown__options > a:not(:last-child) {
  border-bottom: 1px solid #a0c4cb;

}

.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:focus-within .dropdown-content {
    display: block;
}
  
.show {
    display: block;
}
.switch {
    position: relative;
    display: inline-block;
    margin-left: 40px;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #5998A4;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    top: 6px;
    color: #5998A4;
  }
  
  .switch > span.off {
    right: 0;
    top: 6px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    width: 90px;
    height: 25px;
    background-color: #5998A4;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #5998A4;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 38px;
    background-color: #fff;
    border-radius: 52px;
    transition: margin 0.2s;
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

@media (max-width: 1024px) {

    .header {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 768px) {
    .header__options {
        display: none;
    }
    .header__icon {
        width: 100px;
    }
    .header {
        height: 12vh;
        box-shadow: 0px 0px 10px -6px;
     }
    .dropdown {
        display: inline-block;
    }
    .switch {
      margin-left: 0;
    }
}
