.header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E7F0F1;
}

.header__item {
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

