
.footer__sub {
    height: 10vh;
    background: #5998A4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #E7F0F1;
}

.footer__links > a {
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: underline;
    color: #E7F0F1;

}
@media (max-width: 767px) {

    .footer__sub {
        justify-content: space-evenly;
        height: 10vh;
    }
}