<div class="about" id="about">
    <div class="about__container">
        <div class="about__left">
            <div class="about__us__2">
                Über uns
            </div>
            <div class="about__us__3">
                LIV Innovation möchte Unternehmen dabei unterstützen, intelligenter und effizienter zu arbeiten. Wir glauben an die Kraft der Automatisierung, um repetitive Aufgaben zu übernehmen und menschliche Ressourcen für kreative und strategische Herausforderungen freizusetzen.            </div>
            <div class="about__us__4">
                <a  href="">Learn more</a>
            </div>
        </div>
    </div>
</div>