<div class="about">
    <div class="about__container">
        <div class="about__left">
            <p class="about__us__1">About Us</p>
            <div class="about__us__2">
                Driven by a Vision of Effortless Living
            </div>
            <div class="about__us__3">
                LIV Innovation wants to help companies work smarter and more efficiently. We believe in the power of automation to take over repetitive tasks and free up human resources for creative and strategic challenges.
            </div>
            <a class="about__us__4" href="">Learn more</a>
        </div>
        <div class="about__right">
            <img class="about__img" src="../../assets/about.jpeg">
        </div>
    </div>
</div>