.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84vh;
    justify-content: center;
    animation-name: in;
    animation-duration: 2s;
}

.title__primary {
    text-align: center;
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:  var(--title-color);
}
@keyframes in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.title__secondary {
    color: rgba(33, 33, 33, 0.80);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 50%;
}

.title__sub {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #0A3A44;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 30%;
}

.learn__more__button {
    border-radius: 50px;
    border: 1.5px solid #5998A4;
    background: #5998A4;
    color: #F5F5F5;
    display: flex;
    width: 200px;
    height: 55px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
}
.learn__more__button:hover {
    background-color: var(--body-color);
}

@media (max-width: 768px) {
    .title__primary {
        font-size: 12vw;
    }
    .title__secondary {
        font-size: 16px;
        width: 100%;
    }
    .title {
        padding-left: 8%;
        padding-right: 8%;
        height: 88vh;
    }
    .title__sub {
        width: 70%;
        font-size: 16px;
    }
    .learn__more__button {
        border-radius: 50px;
        border: 1.5px solid #5998A4;
        background: #5998A4;
        color: #F5F5F5;
        display: flex;
        height: 24px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;
        text-decoration: none;
    }
}