.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

.title__primary {
    text-align: center;
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:  #0A3A44;

}

.title__secondary {
    color: rgba(33, 33, 33, 0.80);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.title__sub {
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--Brand-color-Dark, #0A3A44);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.learn__more__button {
    border-radius: 50px;
    border: 1.5px solid #5998A4;
    background: #5998A4;
    color: #F5F5F5;
    display: flex;
    width: 200px;
    height: 55px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 767px) {
    .title__primary {
        font-size: 76px;
    }
    .title__secondary {
        font-size: 20px;
    }
    .title {
        padding-left: 8%;
        padding-right: 8%;
    }
}