<div class="impressum">
    <div class="impressum__container">
        <h1 class="impressum__title">
           {{contentService.now.imprint}} 
        </h1>
        <div>
            <p class="impressum__heading">
                {{contentService.now.liv_innovation}}
            </p>
            <div style="line-height: 20px; padding-bottom: 4px; padding-top: 4px;">
                <p>{{contentService.address.address_1}}</p>
                <p>{{contentService.address.address_2}}</p>
                <p>{{contentService.address.address_3}}</p>
            </div>
            <div style="line-height: 20px; padding-bottom: 4px; padding-top: 4px;">
                <p>{{contentService.now.mobile}}</p>
                <span>E-Mail: </span><span style="text-decoration: underline;">{{contentService.now.mail}}</span>
            </div>

        </div>
        <div>
            <p>
                {{contentService.now.imprint_content_1}}
            </p>
        </div>
        <div>
            <p class="impressum__heading">
                {{contentService.now.liability}}
            </p>
            <p>
                {{contentService.now.liability_1}}
            </p>
            <p>
                {{contentService.now.liability_2}}
            </p>
        </div>
        <div>
            <p class="impressum__heading">
                {{contentService.now.external}}
            </p>
            <p>
                {{contentService.now.external_1}}
            </p>
            <p>
                {{contentService.now.external_2}}
            </p>
            <p>
                {{contentService.now.external_3}}
            </p>
            <p>
                {{contentService.now.external_4}}
            </p>
        </div>
        <div class="learn__more">
            <a class="learn__more__button" (click)="goto('home')">
                {{contentService.now.home}}
            </a>
        </div>

    </div>
</div>