<div class="impressum">
    <div class="impressum__container">
        <h2 class="impressum__title">
           {{contentService.now.imprint}} 
        </h2>
        <div>
            <p class="impressum__heading">
                {{contentService.now.liv_innovation}}
            </p>
            <p>
                {{contentService.now.address}}
            </p>
            <p>
                {{contentService.now.mobile}}
            </p>
            <p>
                {{contentService.now.mail}}
            </p>
        </div>
        <div>
            <p>
                {{contentService.now.imprint_content_1}}
            </p>
        </div>
        <div>
            <p class="impressum__heading">
                {{contentService.now.liability}}
            </p>
            <p>
                {{contentService.now.liability_1}}
            </p>
            <p>
                {{contentService.now.liability_2}}
            </p>
        </div>
        <div>
            <p class="impressum__heading">
                {{contentService.now.external}}
            </p>
            <p>
                {{contentService.now.external_1}}
            </p>
            <p>
                {{contentService.now.external_2}}
            </p>
            <p>
                {{contentService.now.external_3}}
            </p>
            <p>
                {{contentService.now.external_4}}
            </p>
        </div>
    </div>
</div>