<div class="products__wrapper">
    <div class="products" id="products">
        <div class="products__container">
            <div class="product__1__img">
                <img src="../../assets/b1128c019eac3ec0e602c73d6785a713.jpeg" width="100%" height="100%"/>
            </div>
            <div class="product__1__details">
                <div class="product__1__number">
                    01
                </div>
                <div class="product__1__title">
                    Innovation
                </div>
                <div class="product__1__desc">
                    Bereit, Ihren Geschäftsprozess zu optimieren und Ihre Produktivität zu steigern? Tauchen Sie ein in die Welt der Automatisierung mit LIV Innovation, Ihrem Experten für maßgeschneiderte, innovative  Softwarelösungen.
                </div>
            </div>
        </div>

        <div class="products__container__mini">
            <div class="product__1__img__mini">
                <img src="../../assets/b1128c019eac3ec0e602c73d6785a713.jpeg"/>
            </div>
            <div class="product__1__details__mini">
                <div class="product__1__number__mini">
                    01
                </div>
                <div class="product__1__title__mini">
                    Innovation
                </div>
                <div class="product__1__desc__mini">
                    Bereit, Ihren Geschäftsprozess zu optimieren und Ihre Produktivität zu steigern? Tauchen Sie ein in die Welt der Automatisierung mit LIV Innovation, Ihrem Experten für maßgeschneiderte, innovative  Softwarelösungen.
                </div>
            </div>
        </div>

        <div class="products__container">
            <div class="product__2__img">
                <img src="../../assets/8b534cf12c8a7b5f14d3340907a55879.jpeg" width="100%" height="100%" style="margin-left: 40%;"/>
            </div>
            <div class="product__2__details">
                <div class="product__2__number">
                    02
                </div>
                <div class="product__2__title">
                    Effizienz
                </div>
                <div class="product__2__desc">
                    In einer sich ständig wandelnden Geschäftswelt ist Effizienz der Schlüssel zum Erfolg. Bei uns bieten wir maßgeschneiderte Automatisierungslösungen, um Ihre operative Geschäftsprozesse zu optimieren und Ihr Unternehmen auf die nächste Stufe zu heben.                
                </div>
            </div>
        </div>

        <div class="products__container__mini">
            <div class="product__2__img__mini">
                <img src="../../assets/8b534cf12c8a7b5f14d3340907a55879.jpeg"/>
            </div>
            <div class="product__1__details__mini">
                <div class="product__1__number__mini">
                    02
                </div>
                <div class="product__1__title__mini">
                    Effizienz
                </div>
                <div class="product__1__desc__mini">
                    In einer sich ständig wandelnden Geschäftswelt ist Effizienz der Schlüssel zum Erfolg. Bei uns bieten wir maßgeschneiderte Automatisierungslösungen, um Ihre operative Geschäftsprozesse zu optimieren und Ihr Unternehmen auf die nächste Stufe zu heben.                
                </div>
            </div>
        </div>

        <div class="products__container">
            <div class="product__3__img">
                <img src="../../assets/e4a470734b8e30584813390811637127.jpeg" width="100%" height="100%"/>
            </div>
            <div class="product__3__details">
                <div class="product__3__number">
                    03
                </div>
                <div class="product__3__title">
                    Integration
                </div>
                <div class="product__3__desc">
                    In einer sich ständig wandelnden Geschäftswelt ist Effizienz der Schlüssel zum Erfolg. Bei uns bieten wir maßgeschneiderte Automatisierungslösungen, um Ihre operative Geschäftsprozesse zu optimieren und Ihr Unternehmen auf die nächste Stufe zu heben.                
                </div>
            </div>
        </div>

        <div class="products__container__mini">
            <div class="product__3__img__mini">
                <img src="../../assets/e4a470734b8e30584813390811637127.jpeg"/>
            </div>
            <div class="product__1__details__mini">
                <div class="product__1__number__mini">
                    03
                </div>
                <div class="product__1__title__mini">
                    Integration
                </div>
                <div class="product__1__desc__mini">
                    In einer sich ständig wandelnden Geschäftswelt ist Effizienz der Schlüssel zum Erfolg. Bei uns bieten wir maßgeschneiderte Automatisierungslösungen, um Ihre operative Geschäftsprozesse zu optimieren und Ihr Unternehmen auf die nächste Stufe zu heben.                
                </div>
            </div>
        </div>
    </div> 
</div>  