.products__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.products {
    display: flex;
    overflow-x: scroll;
    overflow-y:hidden;
    align-items: center;
    height: 80vh;
    width: 80vw;
    scrollbar-width: none;
    background-color: #0A3A44;
    border-radius: 30px;
}

.products__container {
    height: 80vh;
    width: 80vw;
    background-color: #0A3A44;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 5px 0px inset;
    border-radius: 30px;
}

.products__container__mini {
    display: none;
}
.product__1__img {
    object-fit: cover;
    height: 80vh;
    width: 80vw;
    background-color: #0A3A44;
    -webkit-mask-image: url(../../assets/mask1.png);
    mask-image: url(../../assets/mask1.png);
    -webkit-mask-size: 61%;
    mask-size: 61%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.product__1__details {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 6%;
    padding-bottom: 6%;
    width: 36%;
}
.product__1__number {
    color: rgba(245, 245, 245, 0.10);
    text-align: right;
    font-family: Roboto;
    font-size: 20vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 8%;
    top: -25vh
}
.product__1__title {
    color: #E7F0F1;
    text-align: left;
    font-family: Roboto;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product__1__desc {
    text-align: left;
    color:  #E7F0F1;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.product__2__img {
    object-fit: cover;
    height: 80vh;
    width: 80vw;
    background-color: #0A3A44;
    -webkit-mask-image: url(../../assets/mask2.png);
    mask-image: url(../../assets/mask2.png);
    -webkit-mask-size: 55%;
    mask-size: 85vh;
    mask-position: 36vw 70px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.product__2__details {
    left: 8%;
    position: absolute;
    bottom: 8%;
    width: 36%;
}
.product__2__number {
    color: rgba(245, 245, 245, 0.10);
    text-align: left;
    font-family: Roboto;
    font-size: 20vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 8%;
    top: -25vh
}
.product__2__title {
    color: #E7F0F1;
    text-align: right;
    font-family: Roboto;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 16px;
}
.product__2__desc {
    text-align: left;
    color:  #E7F0F1;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__3__img {
    object-fit: cover;
    height: 80vh;
    width: 80vw;
    background-color: #0A3A44;
    -webkit-mask-image: url(../../assets/mask3.png);
    mask-image: url(../../assets/mask3.png);
    -webkit-mask-size: 39%;
    mask-size: 40vw;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.product__3__details {
    right: 8%;
    bottom: 8%;
    position: absolute;
    width: 36%;
}
.product__3__number {
    color: rgba(245, 245, 245, 0.10);
    text-align: right;
    font-family: Roboto;
    font-size: 20vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 8%;
    top: -25vh
    
}
.product__3__title {
    color: #E7F0F1;
    text-align: center;
    font-family: Roboto;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}
.product__3__desc {
    text-align: left;
    color:  #E7F0F1;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products__badge {
    height:16px;
    width:16px;
    background-color: var(--body-color);
    border: 1px solid var(--title-color);
    border-radius: 50%;
    margin: 2px;
    padding:0
}
.products__badge__active {
    background-color: var(--title-color);
}
.products__dots {
    z-index: 1;
    position: relative;
    bottom: 30px;
    display: flex;
}


@media (max-width: 768px) {

    .products {
       flex-direction: column;
       height: auto;
       overflow-x: hidden;
       overflow-y: hidden;
       padding-top: 40px;
       padding-bottom: 40px;
       width: 100vw;
       border-radius: 0;
    }
    .products__container {
        display: none;
    }
    .products__container__mini {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 12%;
        padding-right: 12%;
    }
    .product__1__img__mini {
        object-fit: cover;
        background-color: #0A3A44;
        -webkit-mask-image: url(../../assets/mask1_mini.svg);
        mask-image: url(../../assets/mask1_mini.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: 40vw;
        mask-size: 48vw;
    }
    .product__1__img__mini > img {
        width: 120%;
    }
    
    .product__1__details {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 8%;
        padding-bottom: 8%;
        width: 36%;
    }
    .product__1__details__mini {

        position: relative;
        padding: 5%;
        padding-top: 60px;
    }
    .product__1__number__mini {
        color: rgba(245, 245, 245, 0.10);
        font-family: Roboto;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        top: -30px;
        right: 8%;
    }
    .product__1__title__mini {
        color: #E7F0F1;
        text-align: center;
        font-family: Roboto;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .product__1__desc__mini {
        text-align: center;
        color:  #E7F0F1;
        font-size: 18px;
    }
    .product__2__img__mini {
        object-fit: cover;
        background-color: #0A3A44;
        -webkit-mask-image: url(../../assets/mask2_mini.svg);
        mask-image: url(../../assets/mask2_mini.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: 75vw;
        mask-size: 75vw;
    }
    .product__2__img__mini > img {
        width: 100%;

    }
    .product__3__img__mini {
        object-fit: cover;
        background-color: #0A3A44;
        -webkit-mask-image: url(../../assets/mask3_mini.svg);
        mask-image: url(../../assets/mask3_mini.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: 62vw;
        mask-size: 62vw;
    }
    .product__3__img__mini > img {
        width: 100%;
    }
    .products__dots {
        display: none;
    }
}