<div class="data__protection">
    <div class="data__protection__container">
        <h1>
            {{contentService.now.privacy}}
        </h1>
        <div>
            <p class="dp__heading">{{contentService.now.privacy_1}}</p>
            <p>{{contentService.now.privacy_1_1}}</p>
            <p>{{contentService.now.privacy_1_2}}</p>
            <p>{{contentService.now.privacy_1_3}}</p>
            <p>{{contentService.now.privacy_1_4}}</p>
            <p>{{contentService.now.privacy_1_5}}</p>
            <p>{{contentService.now.privacy_1_6}}</p>
            <p>{{contentService.now.privacy_1_7}}</p>
            <p>{{contentService.now.privacy_1_8}}</p>
            <p>{{contentService.now.privacy_1_9}}</p>
            <p>{{contentService.now.privacy_1_10}}</p>
            <p>{{contentService.now.privacy_1_11}}</p>
            <p>{{contentService.now.privacy_1_12}}</p>
            <p class="dp__padding__top">{{contentService.now.privacy_1_13}}</p>
            <p class="dp__sub__heading">{{contentService.now.privacy_1_14}}</p>
            <p>{{contentService.now.privacy_1_15}}</p>
            <p>{{contentService.now.privacy_1_16}}</p>
        </div>
        <div>
            <p class="dp__heading">{{contentService.now.hosting}}</p>
            <p>{{contentService.now.hosting_1}}</p>
            <p>{{contentService.now.hosting_2}}</p>
            <p>{{contentService.now.hosting_3}}</p>
            <p><a href="https://www.ionos.de/terms-gtc/terms-privacy" target="_blank">https://www.ionos.de/terms-gtc/terms-privacy</a></p>
            <p>{{contentService.now.hosting_4}}</p>
        </div>
        <div>
            <p class="dp__heading">{{contentService.now.general}}</p>
            <p>{{contentService.now.general_1}}</p>
            <p>{{contentService.now.general_1_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_2}}</p>
            <p>{{contentService.now.general_2_1}}</p>
            <p class="dp__padding__top">{{contentService.now.general_name}}</p>
            <p>{{contentService.now.liv_innovation}}</p>
            <p>{{contentService.now.address}}</p>
            <p>{{contentService.now.mobile}}</p>
            <p>{{contentService.now.mail}}</p>
            <p class="dp__padding__top">{{contentService.now.general_2_2}}</p>

            <p class="dp__sub__heading">{{contentService.now.storage}}</p>
            <p>{{contentService.now.storage_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_3}}</p>
            <p>{{contentService.now.general_3_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_4}}</p>
            <p>{{contentService.now.general_4_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_5}}</p>
            <p>{{contentService.now.general_5_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_6}}</p>
            <p>{{contentService.now.general_6_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_7}}</p>
            <p>{{contentService.now.general_7_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_8}}</p>
            <p>{{contentService.now.general_8_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_9}}</p>
            <p>{{contentService.now.general_9_1}}</p>

            <p class="dp__sub__heading">{{contentService.now.general_10}}</p>
            <ul>
                <li class="dp__padding__top">{{contentService.now.general_10_1}}</li>
                <li class="dp__padding__top">{{contentService.now.general_10_2}}</li>
                <li class="dp__padding__top">{{contentService.now.general_10_3}}</li>
                <li class="dp__padding__top">{{contentService.now.general_10_4}}</li>
            </ul>

            <p class="dp__heading">{{contentService.now.general_11}}</p>
            <p>{{contentService.now.general_11_1}}</p>
            <p class="dp__padding__top">{{contentService.now.general_11_2}}</p>
            <p class="dp__padding__top">{{contentService.now.general_11_3}}</p>
            <p class="dp__padding__top">{{contentService.now.general_11_4}}</p>
            <p class="dp__padding__top">{{contentService.now.general_11_5}}</p>
            <p class="dp__padding__top"><a href="https://www.facebook.com/legal/EU_data_transfer_addendum" target="_blank">https://www.facebook.com/legal/EU_data_transfer_addendum</a></p>
            <p><a href="https://privacycenter.instagram.com/policy/" target="_blank">https://privacycenter.instagram.com/policy/</a></p>
            <p><a href="https://de-de.facebook.com/help/566994660333381"  target="_blank">https://de-de.facebook.com/help/566994660333381</a></p>
            <pre class="dp__pre dp__padding__top">{{contentService.now.general_11_7}}</pre>
        </div>
        <div>
            <p class="dp__heading">{{contentService.now.public}}</p>
            <p>{{contentService.now.public_1}}</p>
            <p>{{contentService.now.public_2}}</p>
            <p>{{contentService.now.public_3}}</p>
            <p>{{contentService.now.public_4}}</p>
            <p>{{contentService.now.public_5}}</p>
            <p>{{contentService.now.public_6}}</p>
            <p>{{contentService.now.public_7}}</p>
            <p>{{contentService.now.public_8}}</p>
            <p>{{contentService.now.public_9}}</p>
        </div>
    </div>
</div>