.data__protection__container {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 4%;
    color: #0A3A44;
    padding-bottom: 20px;
}
.data__protection__container > div {
    padding-top: 12px;
    padding-bottom: 12px;
}

.data__protection__container > div > p {
    /* padding-top: 4px; */
    padding-bottom: 8px;
}
.data__protection__container > div > p > a {
    padding-bottom: 8px;
    text-decoration: underline;
    color: #0A3A44;
}
.dp__heading {
    font-weight: 700;
    padding-bottom: 12px;
    padding-top: 12px;
    color: var(--title-color);
}

.dp__sub__heading {
    font-weight: 600;
    padding-top: 8px;
}

.dp__pre {
    text-wrap: balance;
}

.dp__padding__top {
    padding-top: 12px;
}
.learn__more {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.learn__more__button {
    border-radius: 50px;
    border: 1.5px solid #5998A4;
    background: #5998A4;
    color: #F5F5F5;
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
}
.learn__more__button:hover {
    background-color: var(--body-color);
}
  @media (max-width: 768px) {

    .data__protection__container > div > p > a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 100%;
    }
}